<div class="jumbotron">
    <h1>ASP.NET IDENTITY</h1>
    <p><a href="https://happycodersblog.wordpress.com/2016/05/06/authentication-va-authorization-trong-asp-net-web-mvc/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    
</div>
